
<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h3>Posts</h3>
      <ul class="list-group-item">
          <app-post *ngFor="let post of posts" [titrePost]="post.title" [datePost]="post.created_at"
          [contenuPost]="post.content" [loveits]="post.loveIts"></app-post>
      </ul>
    </div>
  </div>
</div>
