<!-- <li [ngClass]="{'list-group-item': true,
    'list-group-item-success': loveits>0,
    'list-group-item-danger': loveits<0}">
    <h5 class="text-left">{{ titrePost }} -- crée le {{ datePost | date:shortDate }} </h5>
    <p>{{contenuPost}} </p>
    <button type="button" class="btn btn-warning" (click)="onAungmenter()">love it</button>
    <button type="button" class="btn btn-danger" (click)="onDiminuer()">don't love it</button>
    <span>loveits : {{loveits}} </span>
</li>

 -->
<div [ngClass]="{'list-group-item': true,
    'list-group-item-success': loveits>0,
    'list-group-item-danger': loveits<0}">
    <div class=" d-flex justify-content-between  ">
        <h2>{{ titrePost }}</h2>
        <span>{{ datePost | date:shortDate }}</span>
    </div>
    <p>{{contenuPost}}</p>
    <div class=" d-flex justify-content-between  ">
            <button class="btn btn-warning" (click)="onAungmenter()">love it</button>
            <button class="btn btn-danger" (click)="onDiminuer()">don't love it</button>
            <span>loveits : {{loveits}} </span>
    </div>
            
</div>